<% include helper/_header %>

<% include helper/_navbar %>

<div class="container-fluid <%= (locals.alerts ? 'page-contains' : '') %>">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="container page-contains text-center">
    <div class="section-title center">
      <h2 class="animated slideInDown">Events and <strong>Service</strong></h2>
      <div class="line">
        <hr>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
          <div>
            <a href="/events/new-event" class="btn buton btn-default spaced">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Event
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="btn-group spaced" role="group" aria-label="time-period">
            <button type="button" class="btn btn-default">Day</button>
            <button type="button" class="btn btn-default">Week</button>
            <button type="button" class="btn btn-default">Month</button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group spaced"> <span class="input-group-addon">Search</span>
            <input id="filter-search" type="text" class="form-control" placeholder="Type here...">
          </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped sortable-theme-bootstrap" data-sortable>
          <thead>
            <tr>
              <th>Event</th>
              <th data-sortable-type="date">Date & Time</th>
              <th data-sortable="false">Location</th>
              <th data-sortable-type="numeric">Hours</th>
              <th data-sortable="false">Actions</th>
            </tr>
          </thead>
          <tbody class="searchable">

          </tbody>
        </table>
    </div>
</div>

<% include helper/_basecode %>

<script type="text/javascript" src="/js/events.js"></script>

<% include helper/_footer %>