<div class="container">
    <h1>Event Schedule</h1>
    <a href="/events/new-event" class="btn btn-primary spaced">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Event
    </a>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Event</th>
              <th>Date Time</th>
              <th>Location</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Urban Compass</td>
              <td>Friday, March 14, 2016, 3:10 PM</td>
              <td><a href="https://www.google.com/maps/place/Verbum+Dei+High+School/@33.9346847,-118.255696,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2ca2d232ca0fb:0x43f903cd443cdfd8" target="_blank">11100 S Central Ave, Los Angeles, CA 90059</a></td>
              <td><a href="#" class="btn btn-primary btn-sm">Details</a></td>
            </tr>
            <tr>
              <td>Urban Compass</td>
              <td>Friday, March 14, 2016, 3:10 PM</td>
              <td><a href="https://www.google.com/maps/place/Verbum+Dei+High+School/@33.9346847,-118.255696,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2ca2d232ca0fb:0x43f903cd443cdfd8" target="_blank">11100 S Central Ave, Los Angeles, CA 90059</a></td>
              <td><a href="#" class="btn btn-primary btn-sm">Details</a></td>
            </tr>
            <tr>
              <td>Urban Compass</td>
              <td>Friday, March 14, 2016, 3:10 PM</td>
              <td><a href="https://www.google.com/maps/place/Verbum+Dei+High+School/@33.9346847,-118.255696,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2ca2d232ca0fb:0x43f903cd443cdfd8" target="_blank">11100 S Central Ave, Los Angeles, CA 90059</a></td>
              <td><a href="#" class="btn btn-primary btn-sm">Details</a></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>