<% var title = "View Events" %>

<% include helper/_header %>

<% include helper/_navbar %>

<div class="pagelet" data-transparent-navbar="false"></div>

<div class="container-fluid <%= (locals.alerts ? 'page-contains' : '') %>">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="container page-contains text-center">
    <div class="section-title center">
      <h2 class="animated slideInDown">Events and <strong>Service</strong></h2>
      <div class="line">
        <hr>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
          <div>
            <a href="/events/new-event" class="btn buton btn-default spaced <%= (locals.admin ? '' : 'disabled')%>">
              <span class="fa fa-plus" aria-hidden="true"></span> New Event
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="checkbox spaced">
            <label class="check-text"><input type="checkbox" value="" id="show-past-events" disabled>Show past events</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group spaced"> <span class="input-group-addon search-bar"><i class="fa fa-search"></i>  Search</span>
            <input id="filter-search" type="text" class="form-control search-text-box" placeholder="Type here...">
          </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped sortable-theme-bootstrap" data-sortable>
          <thead>
            <tr>
              <th>Event</th>
              <th data-sortable-type="date">Date & Time</th>
              <th data-sortable="false">Location</th>
              <th>On/Off Campus</th>
              <th data-sortable="false">Actions</th>
            </tr>
          </thead>
          <tbody class="searchable">

          </tbody>
        </table>
    </div>
</div>

<% include helper/_basecode %>

<script type="text/javascript" src="/js/events.js"></script>

<% include helper/_footer %>