<% include helper/_header %>

<% include helper/_navbar %>

 
<!-- <div class="container-fluid page-contains">
  <% if (locals.alerts) { %>
  <% alerts.forEach(function(alert) { %>
    <% include helper/_alert %>
  <% }) %>
  <% } %>
</div>  -->


<!-- Home Page
==========================================-->
<div id="hale" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1 class="title animated slideInDown">We are <strong>The Crimson Circle</strong></h1>
            <p class="lead">A service organization dedicated to serve <strong>for and with others</strong></p>
            <a href="#aboot" id="angle-down" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>

<!-- About Us Page
==========================================-->
<div id="aboot">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/vintage-crimson.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <h2>What are we <strong>all about?</strong></h2>
                        <div class="line">
                          <hr>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p class="intro">
                    Service, honor, brotherhood, tradition, and faith are the hallmarks of the Crimson Circle. Dating back to 1929, the Circle has always had a tradition of prestigious and diverse membership. The Circle dedicates their time and expresses many outstanding talents that contribute from serving Loyola Marymount University to the greater Los Angeles and World communities in a commitment to social justice.  To be a Crimson is to be a man for and with others.
                    </p>
                    <h4><strong>History</strong></h4>
                    <p class="intro">
                    The Crimson Circle was established at Loyola University in 1929 to assist the Jesuit Dean of Students with the enforcement of the Student Conduct Code at student assemblies and at athletic events. Appointed by the Student Council, they administered public punishment to those students found guilty of infraction of the laws and traditions of the University. It was composed of fifteen men from the sophomore, junior and senior classes. Father Lorenzo M. Malone, SJ, was the first moderator.
                    </p>

                    <p class="intro">
                    As Loyola University continued to develop and its needs changed, the purpose of Crimson Circle also changed and developed. By the 1940s, Crimson Circle shed its responsibilities in enforcing the Student Conduct Code and became an honor society.
                    </p>

                    <p class="intro">
                    During the 1960s, Crimson Circle began to resemble the organization it is today. Crimson Circle became a service organization committed to the University to promote programs of the Associated Students of Loyola University, the President's Office, University Relations, and Admissions.
                    </p>

                    <p class="intro">
                    Today, Crimson Circle's mission is to serve at Loyola Marymount University and the surrounding communities of Los Angeles. Since its foundation, members of Crimson Circle have been recognized for leadership, loyalty, generous service, good academic standing, and high spirit.
                    </p>

                    <p class="intro">
                    The uniform colors of Crimson Circle remain crimson and grey, reflecting the old school colors of Loyola University. Crimson Circle is composed of 35 sophomore, junior, and senior men.
                    </p>

                    <p class="intro">
                    Crimson Circle remains an important part of the Jesuit history and tradition at Loyola Marymount University.
                    </p>
                    <ul class="about-list">
                        <li>
                            <span class="fa fa-info-circle"></span>
                            <strong>Mission</strong> - <em>To serve at Loyola Marymount University and the surrounding communities of Los Angeles.</em>
                        </li>
                        <li>
                            <span class="fa fa-info-circle"></span>
                            <strong>Members</strong> - <em>35 sophomore, junior and senior men of Loyola Marymount University.</em>
                        </li>
                        <li>
                            <span class="fa fa-info-circle"></span>
                            <strong>Placements</strong> - <em>Urban Compass, St. Columbkille Elementary, Midnight Mission, St. Bernard High.</em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Members Section
==========================================-->
<div id="me-mateys" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2>Meet <strong>our members</strong></h2>
        <div class="line">
          <hr>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- Service Section
==========================================-->
<div id="service-section" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Take a look at <strong>our service sites</strong></h2>
            <div class="line">
                <hr>
            </div>
            <div class="clearfix"></div>
            <small><em>The Crimson Circle is one of the few service organizations that does not have a service focus. This allows us to explore and appreciate many different types of service, while also being flexible to account for the many interests of our members. Below are our four weekly service sites and three other service events in which we are involved.</em></small>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-5 col-sm-offset-1 col-md-offset-0 service">
                <a href="http://www.midnightmission.org"><i class="fa fa-bed"></i></a>
                <h4><strong>Midnight Mission</strong></h4>
                <p>The Midnight Mission offers a path to self-sufficiency to men, women and children who have lost everything. Their emergency services, 12-step philosophy, job training, education and work programs offer a compassionate bridge to productive lives. Crimson men wake up early during the week to either prepare or serve food to homeless men and women in downtown Los Angeles.</p>
            </div>

            <div class="col-md-3 col-sm-5 service">
                <a href="http://www.columbkille.org"><i class="fa fa-puzzle-piece"></i></a>
                <h4><strong>St. Columbkille Elem.</strong></h4>
                <p>St. Columbkille Elementary has been serving the South Los Angeles community since 1923 when the Sisters of Notre Dame de Namur opened the school. Crimsons help the homework club, an after-school program that provides mentoring and tutoring for the students. Members of Crimson Circle volunteer at this program up to three days a week.</p>
            </div>
            
            <div class="col-md-3 col-sm-5 col-sm-offset-1 col-md-offset-0 service">
                <a href="http://www.urbancompass.org"><i class="fa fa-compass"></i></a>
                <h4><strong>Urban Compass</strong></h4>
                <p>Urban Compass is a nonprofit organization that has provided free youth programs in Watts since 2004. They provide tutoring support, enrichment activities and field trips to keep the children engaged in a positive learning experience – and off the streets. Many Crimson men have fostered close relationships with the kids they mentor.</p>
            </div>

            <div class="col-md-3 col-sm-5 service">
                <a href="http://stbernardhs.org"><i class="fa fa-graduation-cap"></i></a>
                <h4><strong>St. Bernard High</strong></h4>
                <p>St. Bernard High School is co-educational, 9-12 high school, owned and operated by the Archdiocese of Los Angeles and fully accredited by the Western Association of Schools and Colleges and the Western Catholic Educational Association. Crimson Circle members tutor high school students during the week in a variety of subjects, including calculus, English, chemistry and more.</p>
            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-4 service">
                <a href="http://www.ndss.org/Buddy-Walk/"><i class="fa fa-child"></i></a>
                <h4><strong>LA Buddy Walk</strong></h4>
                <p>The Buddy Walk is an opportunity for anyone and everyone to walk — or support a walker — and raise funds for the Down Syndrome Association of Los Angeles and the National Down Syndrome Society. The Crimson Circle volunteers at this event once a year every fall semester. In October 2014, The Crimson Circle received the Volunteer Honor Plaque from the DSA for our service at the event.</p>
            </div>
            
            <div class="col-md-4 service">
                <a href="http://studentaffairs.lmu.edu/activitiesservice/centerforserviceaction/specialevents/blooddrives/"><i class="fa fa-tint"></i></a>
                <h4><strong>LMU Blood Drive</strong></h4>
                <p>In a partnership with the LMU Center for Service and Action, the Crimson Circle organizes the LMU blood drive each semester. Donations go to the UCLA Blood and Platelet Center which safeguards the health of over 4 million people in the western Los Angeles County. LMU consistently gets hundreds of student and faculty donors. A special shoutout to Matthew Sugidono c/o 2015, whose passion for this cause led Crimson to fully take on the blood drive as our own.</p>
            </div>

            <div class="col-md-4 service">
                <a href="http://studentaffairs.lmu.edu/activitiesservice/centerforserviceaction/specialgames/"><i class="fa fa-trophy"></i></a>
                <h4><strong>LMU Special Games</strong></h4>
                <p>Established in 1977, Special Games was founded as a day of celebration for the mentally and physically challenged of the Los Angeles community. Special Games brings together the special needs community of Los Angeles and the University for three days of fun, friendship and personal growth. Members of Crimson Circle serve as coaches for athletes throughout the games.</p>
            </div>
        </div>
    </div>
</div>

<!-- Photo Gallery Section
==========================================-->
<div id="fotos">
    <div class="overlay">
        <div class="container">
            <div class="section-title text-center center">
                <h2>Crimson <strong>in action</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>The Crimson Circle prides itself on a strong sense of brotherhood. Our fellowship enables us to more effectively serve others, reflect on our service in a meaningful way, and have a good time together in service and friendship. The bonds and experiences we share within the organization stay with us-especially after we leave the bluff. Visit our <a href="https://www.facebook.com/thecrimsoncircle1929">Facebook page</a> for more photos!</em></small>
            </div>
            <div id="action-carousel" class="carousel slide" data-ride="carousel" data-interval="5500">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#action-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#action-carousel" data-slide-to="1"></li>
                <li data-target="#action-carousel" data-slide-to="2"></li>
                <li data-target="#action-carousel" data-slide-to="3"></li>
                <li data-target="#action-carousel" data-slide-to="4"></li>
                <li data-target="#action-carousel" data-slide-to="5"></li>
                <li data-target="#action-carousel" data-slide-to="6"></li>
                <li data-target="#action-carousel" data-slide-to="7"></li>
                <li data-target="#action-carousel" data-slide-to="8"></li>
                <li data-target="#action-carousel" data-slide-to="9"></li>
                <li data-target="#action-carousel" data-slide-to="10"></li>
                <li data-target="#action-carousel" data-slide-to="11"></li>
                <li data-target="#action-carousel" data-slide-to="12"></li>
                <li data-target="#action-carousel" data-slide-to="13"></li>
              </ol>
             
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/img/2015-2016-crimson.jpg" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Fall 2015 Yearbook Photo</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-02.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Crimson's 85th Reunion</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-03.jpg" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Charity Ball 2015</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-04.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Former and current Crimsons</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-05.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>2015 President Ryan Laird '16</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-06.jpg" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Parker McCloud '17 & Cedric Char '16</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-07.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Tim Sullivan '15, Charlie Shoup '15, Max Castro '15</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-08.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>MLK Service Day 2015</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-09.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>2014 Think Pink 5k</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-10.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>2014 LA Buddy Walk</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-11.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>2011 Charity Ball</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-12.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Crimsons at our 80th Reunion</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-13.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Catch the Bunny: A Crimson Tradition</h3>
                  </div>
                </div>
                <div class="item">
                  <img src="/img/action-14.png" alt="go crimson">
                  <div class="carousel-caption">
                      <h3>Crimson with Urban Compass 2014</h3>
                  </div>
                </div>
              </div>
             
              <!-- Controls -->
              <a class="left carousel-control" href="#action-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#action-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div> <!-- Carousel -->
            
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Moderator Section
==========================================-->
<div id="moderator-section">
    <div class="container">
        <div class="section-title center">
            <h2 class="text-center">The Crimson Circle <strong>Moderator</strong></h2>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img src="img/dempsey.png" class="img-responsive" id="moderator-pic">
            </div>
            <div class="col-xs-8">
                <div class="about-text">
                    <p class="intro">
                    Crimson Circle moderators have been integral to the service organization since its founding in 1929, with our first moderator being Fr. Lorenzo M. Malone, SJ. Moderators attend every meeting, are familiar with all members, and offer both guidance and advisement to members in academic, spiritual and personal settings.
                    </p>
                    <p class="intro">
                    Moderators of Crimson Circle have included: Fr. Al Kilp, SJ; Fr. James Erps, SJ; Fr. Wayne Negrete, SJ; and Fr. Richard Robin, SJ. Fr. Sean Dempsey, SJ. has served as moderator since 2015.
                    </p>
                    <p class="intro">
                    Fr. Sean Dempsey, SJ has B.A. in English, University of Notre Dame (1995), M.A. in American Studies, Saint Louis University (2003), M.Div., Jesuit School of Theology (2008), and a Ph.D., History, University of Pennsylvania (2015). His research fields include: 20th Century U.S., religious, and urban history. 
                    </p>
                    <p class="intro">
                    Fr. Sean Dempsey, SJ was chosen to be the Crimson Circle moderator in 2015, after a strong recommendation from the previous moderator, Fr. Richard Robin, SJ.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
  </div>
</div>

<!-- Quotes Section
==========================================-->
<div id="wordz" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2><strong>Crimson men</strong> speak</h2>
        <div class="line">
          <hr>
        </div>
      </div>
      
<!--
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="testimonial">
            <div class="item">
              <h5>"Crimson is like a circle because it's a symbol of eternity. It's not like triangle because that has like corners that end. It's a circle because it goes on forever."</h5>
              <p><strong>Landon Wike</strong>, c/o 2016</p>
            </div>

            <div class="item">
              <h5>"If you ain't living on the edge, you're taking up too much space."</h5>
              <p><strong>Carson Szarek</strong>, c/o 2016</p>
            </div>

            <div class="item">
              <h5>"Crimson circle made me a better man. Even though I'm probably the best person I have ever met."</h5>
              <p><strong>Dillen Lao</strong>, c/o 2018</p>
            </div>
            
            <div class="item">
              <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
              <p><strong>Parker "Danger" McCloud</strong>, c/o 2017</p>
            </div>
          </div>
        </div>
      </div>
-->
      
      <div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="12000">
        <!-- Wrapper for slides -->
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="carousel-content">
                    <div>
                      <h5>"Crimson is like a circle because it's a symbol of eternity. It's not like triangle because that has like corners that end. It's a circle because it goes on forever."</h5>
                      <p><strong>Landon Wike</strong>, c/o 2016</p>
                      
                      <h5>"Don't quote me."</h5>
                      <p><strong>Max Alvarado</strong>, c/o 2017</p>
                      
                      <h5>"Crimson: you’re gonna like the way you look, I guarantee it. Whether it’s mentoring kids or helping our university, I’m proud to wear matching sweaters with this group of distinguished young gentlemen."</h5>
                      <p><strong>Danny Birmingham</strong>, c/o 2016</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"If you ain't living on the edge, you're taking up too much space."</h5>
                      <p><strong>Carson Szarek</strong>, c/o 2016</p>
                      
                      <h5>"Crimson is an amazing group of guys that helped me feel at home at LMU. Without Crimson, my college experience would not be as fulfilling as it is now."</h5>
                      <p><strong>Sam Parkins</strong>, c/o 2017</p>
                      
                      <h5>"When I came in as a freshman I knew the people I surrounded myself with would have a big influence on the decisions I made and the person I'd be. Crimson has been exactly what I was looking for because they want to make a difference but never take themselves too seriously."</h5>
                      <p><strong>Ben Johnstone</strong>, c/o 2017</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"Crimson circle made me a better man. Even though I'm probably the best person I have ever met."</h5>
                      <p><strong>Dillen Lao</strong>, c/o 2018</p>
                      
                      <h5>"Crimson has been an absolute privilege-I've had the great opportunity to meet some of the most considerate and welcoming peers that have made my college experience that much better."</h5>
                      <p><strong>Nathan Lee</strong>, c/o 2016</p>
                      
                      <h5>"Crimson is the most rockin-sockin darn tooting good time you can ever have."</h5>
                      <p><strong>Nathaniel Lee</strong>, c/o 2016</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Parker "Danger" McCloud</strong>, c/o 2017</p>
                      
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Nick Ertola</strong>, c/o 2017</p>
                      
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Hunter Koon</strong>, c/o 2016</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"I absolutely love crimson. My experiences in this organization have continually been the highlight of my time at LMU so far."</h5>
                      <p><strong>Tyler Benko</strong>, c/o 2017</p>
                      
                      <h5>"Crimson encircles some of the best men of LMU, who are bounded by something much greater then themselves: service."</h5>
                      <p><strong>Jon-Jon Kaneshiro</strong>, c/o 2016</p>
                      
                      <h5>"Being in Crimson is being like a best man in a wedding. You need to show up and get things done but you also have to be open to relaxing and having a great time."</h5>
                      <p><strong>Zach Stava</strong>, c/o 2016</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"For the men of Crimson Circle, the organization and its service means more than the 30 required hours, or the feeling of joy you get after service. Crimson Circle is a brotherhood, a group of guys who truly enjoy service, and a group who enjoys spending time with one another."</h5>
                      <p><strong>Ryan Laird</strong>, c/o 2016</p>
                      
                      <h5>"5 stars. Would recommend Crimson to a friend."</h5>
                      <p><strong>Niko Klein</strong>, c/o 2018</p>
                      
                      <h5>"Never play odds unless you are fully committed to eating an owl made out of wax."</h5>
                      <p><strong>Harrison Husting</strong>, c/o 2017</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Alex Factor</strong>, c/o 2016</p>
                      
                      <h5>"Crimson is my favorite thing there ever was."</h5>
                      <p><strong>Alex Franco</strong>, c/o 2016</p>
                      
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Tino Franco</strong>, c/o 2016</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Kevin McGee</strong>, c/o 2016</p>
                      
                      <h5>"Whatever you do, just don't get on the chopling block here at he rimson ircle."</h5>
                      <p><strong>Josh Kuroda</strong>, c/o 2017</p>
                      
                      <h5>"Of all my commitments throughout my college career, none have given me as good of a time as Crimson. Truly good friends, truly memorable experiences, and it's always a fun time."</h5>
                      <p><strong>Bryce Currey</strong>, c/o 2016</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"Crimson - for the boys, by the boys, from the boys, to the boys, of the boys."</h5>
                      <p><strong>Cedric Char</strong>, c/o 2016</p>
                      
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Carlos Melendez</strong>, c/o 2017</p>
                      
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Paul Gagorik</strong>, c/o 2017</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"You have to experience a 4 to appreciate an 8."</h5>
                      <p><strong>Christian Papadopolos</strong>, c/o 2018</p>
                      
                      <h5>"The Crimson Circle is dedicated to making positive and meaningful change, and enabling others to do the same in other communities."</h5>
                      <p><strong>Bill Muscara</strong>, c/o 2017</p>
                      
                      <h5>"Crimson has been a great organization and I would do anything for my brothers."</h5>
                      <p><strong>Steven Boyer</strong>, c/o 2018</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <h5>"In Crimson Circle I am surrounded by guys who strive for success as well as helping and serving others. These fellow brothers of mine have influenced me to become the best version of myself in order to help and serve the greater LMU community."</h5>
                      <p><strong>Jimmy Crespin</strong>, c/o 2017</p>
                      
                      <h5>"Crimson is my favorite part of being at LMU. Being able to serve the community with guys I like to hang out with is what I was looking for in the LMU community. Crimson is super rad!"</h5>
                      <p><strong>Branden DeLangis</strong>, c/o 2016</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
          
        <!-- Controls --> 
        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>    
      </div>
      
    </div>
  </div>
</div>

<!-- Contact Section
==========================================-->
<div id="contact-us" class="text-center">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="section-title center">
          <h2>Feel free to <strong>contact us</strong></h2>
          <div class="line">
            <hr>
          </div>
          <div class="clearfix"></div>
          <small><em>For general inquiries, contact <a href="mailto:thecrimsoncircle@gmail.com?Subject=General%20Inquiry" target="_top">thecrimsoncircle@gmail.com</a>. Specifically contact the President and Vice President of Service at <a href="mailto:presidentcrimsoncircle@gmail.com?Subject=Presidential%20Inquiry" target="_top">presidentcrimsoncircle@gmail.com</a> and <a href="mailto:servicecrimsoncircle@gmail.com?Subject=Service%20Inquiry" target="_top">servicecrimsoncircle@gmail.com</a>, respectively.</em></small>
        </div>

        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Message</label>
            <textarea class="form-control" rows="4"></textarea>
          </div>
          
          <button type="submit" class="btn buton btn-default">Submit</button>
        </form>                                   

      </div>
    </div>

  </div>
</div>

<% include helper/_basecode %>

<script type="text/javascript" src="/js/index.js"></script>

<% include helper/_footer %>