<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Crimson Circle Service Organization</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>The Crimson Circle Service Organization</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <p><%= left_message %>
      </div>
      <div class="col-xs-4">
        <p><%= right_message %>
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
</body>

</html>