<% include helper/_header %>

<% include helper/_navbar %>

<div class="container-fluid">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>
<div id="login" class="text-center">
    <div class="overlay">
        <div class="section-title center">
          <h2>Crimson <strong>login</strong></h2>
          <div class="line">
          <hr>
        </div>
      </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <form method="post" action="/login">
        
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" placeholder="Username" name="username">
                </div>
        
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
        
                <div class="">
                  <input class="button btn btn-default" type="submit" value="Login">
                </div>
        
              </form>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container  -->
    </div>
</div>

<% include helper/_basecode %>

<% include helper/_footer %>