<% include helper/_header %>

<% include helper/_navbar %>

<div class="container-fluid">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="container" id="new_event">
  <div class="container-fluid">
    <h1>New Event</h1>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <form method="get" action="" id="eventForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Service" id="name">
        </div>

        <div class="form-group">
          <label for="start-date">Start Date/Time</label>
          <div class="input-group date" id="datetimestart">
            <input type="text" class="form-control" id="start-date"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="end-date">End Date/Time</label>
          <div class="input-group date" id="datetimeend">
            <input type="text" class="form-control" id="end-date"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="location">Address</label>
          <input type="text" class="form-control" placeholder="1 Infinite Loop, Cupertino, CA, 95014" id="location">
        </div>

        <div class="form-group">
          <table class="table last-col-right">
            <thead>
              <tr>
                <th>People</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Josh Kuroda</td>
                <td>
                  <button type="button" class="btn btn-default btn-xs rm-row">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Carlos Melendez</td>
                <td>
                  <button type="button" class="btn btn-default btn-xs rm-row">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>Benjamin Johnstone</td>
                <td>
                  <button type="button" class="btn btn-default btn-xs rm-row">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="input-group">
            <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Add Person..." id="add-person">
            <ul class="dropdown-menu">
              <li class="option" data-name="Joshua Kuroda"><a href="#">Joshua Kuroda</a></li>
              <li class="option" data-name="Carlos Melendez"><a href="#">Carlos Melendez</a></li>
              <li class="option" data-name="Benjamin Johnstone"><a href="#">Benjamin Johnstone</a></li>
              <li class="option" data-name="Max Alvarado"><a href="#">Max Alvarado</a></li>
            </ul>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="confirm-add-person">Add Person</button>
            </span>
          </div><!-- /input-group -->
        </div>

        <div class="">
          <input class="button btn btn-default" type="button" value="Create Event" id="create-event">
        </div>

      </form>
      <div class="spaced"></div>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container  -->

<% include helper/_basecode %>

<script type="text/javascript" src="/js/new-event.js"></script>

<% include helper/_footer %>