<% include helper/_header %>

<% include helper/_navbar %>

<div class="pagelet" data-transparent-navbar="false"></div>

<div class="container-fluid <%= (locals.alerts ? 'page-contains' : '') %>">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="container page-contains text-center">
  <div class="section-title center">
    <h2 class="animated slideInDown">Create an <strong>Event</strong></h2>
    <div class="line">
      <hr>
    </div>
  </div>
</div>

        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form method="get" action="" id="eventForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" placeholder="Service" id="name">
                        </div>
                
                        <div class="form-group">
                          <label for="start-date">Start Date/Time</label>
                          <div class="input-group date form-control" id="datetimestart">
                            <input type="text" class="form-control" id="start-date"/>
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                        </div>
                
                        <div class="form-group">
                          <label for="end-date">End Date/Time</label>
                          <div class="input-group date form-control" id="datetimeend">
                            <input type="text" class="form-control" id="end-date"/>
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                        </div>
                
                        <div class="form-group">
                          <label for="location">Address</label>
                          <input type="text" class="form-control" placeholder="1 Infinite Loop, Cupertino, CA, 95014" id="location">
                        </div>

                        <div class="form-group">
                          <label for="meeting-place">Meeting Place</label>
                          <input type="text" class="form-control" placeholder="Flag Poles" id="meeting-place">
                        </div>

                        <div class="">
                          <div class="radio min-radio">
                            <label>
                              <input type="radio" name="uniform" id="uniform-casual" value="Casual">
                              Casual Uniform
                            </label>
                          </div>
                          <div class="radio min-radio">
                            <label>
                              <input type="radio" name="uniform" id="uniform-polo" value="Polos">
                              Polos Uniform
                            </label>
                          </div>
                          <div class="radio min-radio">
                            <label>
                              <input type="radio" name="uniform" id="uniform-sweater" value="Sweaters">
                              Sweaters Uniform
                            </label>
                          </div>
                        </div>
                    </div>                
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="hours">Hours</label>
                          <div class="input-group form-control">
                            <input type="text" class="form-control" placeholder="3" aria-describedby="addon1" id="hours">
                            <span class="input-group-addon" id="addon1">hour(s)</span>
                          </div>
                        </div>
                
                        <div class="form-group">
                          <table class="table last-col-right">
                            <thead>
                              <tr>
                                <th>Attending Only</th>
                                <th>Remove</th>
                              </tr>
                            </thead>
                            <tbody id="attending-members">
                            </tbody>
                          </table>
                        </div>

                        <div class="form-group">
                          <table class="table last-col-right">
                            <thead>
                              <tr>
                                <th>Attending & Driving</th>
                                <th>Remove</th>
                              </tr>
                            </thead>
                            <tbody id="driving-members">
                            </tbody>
                          </table>
                        </div>

                        <div class="form-group">
                          <div class="input-group">
                            <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Add Person..." id="add-person">
                            <ul class="dropdown-menu" id="list-members">
                            </ul>
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" id="confirm-add-person">Add Person</button>
                            </span>
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" id="confirm-add-driver">Add Driver</button>
                            </span>
                          </div>
                        </div>               
                    </div>
                </div>
                <div class="">
                  <input class="btn buton btn-default" data-loading-text="Creating Event..." type="button" value="Create Event" id="create-event">
                </div>
<!--                 <button type="submit" class="btn buton btn-default">Submit</button> -->
              </form>  
            </div>
          </div>
        </div>

<% include helper/_basecode %>

<script type="text/javascript" src="/js/new-event.js"></script>

<% include helper/_footer %>