<% include helper/_header %>

<% include helper/_navbar %>

<div class="pagelet" data-transparent-navbar="true"></div>

<div class="container-fluid">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<!--
<div class="container-fluid">
  <h1>Simple Signup Page</h1>
</div>

<div class="container">
  <h4>All fields are required</h4>
  <div class="row">
    <div class="col-sm-4">
      <form method="post" action="/signup">

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
        </div>

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" placeholder="John" name="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" placeholder="Appleseed" name="lastName">
        </div>

        <div class="">
          <input class="button btn btn-default" type="submit" value="Signup">
        </div>

      </form>
    </div>
  </div>
</div>
-->

<div id="login" class="text-center">
    <div class="overlay">
        <div class="section-title center">
          <h2 class="animated slideInDown">Crimson <strong>sign up</strong></h2>
          <div class="line">
            <hr>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form id="signup" method="post" action="/signup">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="passcode">PASSCODE</label>
                          <input type="text" class="form-control" placeholder="passcode" name="passcode">
                        </div>
                        
                        <div class="form-group">
                          <label for="username">USERNAME</label>
                          <input type="text" class="form-control" placeholder="username" name="username">
                        </div>
                        
                        <div class="form-group">
                          <label for="password">PASSWORD</label>
                          <input type="password" class="form-control" placeholder="password" name="password">
                        </div>
                
                        <div class="form-group">
                          <label for="confirmPassword">CONFIRM PASSWORD</label>
                          <input type="password" class="form-control" placeholder="confirm password" name="confirmPassword">
                        </div>  
                    </div>                
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="firstName">FIRST NAME</label>
                          <input type="text" class="form-control" placeholder="Lorenzo" name="firstName">
                        </div>  
                
                        <div class="form-group">
                          <label for="lastName">LAST NAME</label>
                          <input type="text" class="form-control" placeholder="Malone" name="lastName">
                        </div>
                        
                        <div class="form-group">
                          <label for="lastName">EMAIL</label>
                          <input type="text" class="form-control" placeholder="iheartcrimson@lmu.edu" name="email">
                        </div>
                        
                        <div class="form-group">
                          <label for="firstName">PHONE NUMBER</label>
                          <input type="text" class="form-control" placeholder="(808) 555-1929" name="phone">
                        </div>               
                    </div>
                </div>

                <button type="submit" class="btn buton btn-default">Submit</button>
              </form>  
            </div>
          </div>
        </div>
    </div>
</div>


<% include helper/_basecode %>

<script>
    $('#signup').submit(function(event){
        if (!($('input[name="passcode"]').val() === 'rushrimson')) {
            event.preventDefault();
        }
    });
</script>

<% include helper/_footer %>