<% include helper/_header %>

<% include helper/_navbar %>

<div class="pagelet" data-transparent-navbar="false"></div>

<div class="container-fluid">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="container page-contains text-center">
  <div class="section-title center">
    <h2 class="animated slideInDown"><%= (locals.userObj ? locals.userObj.firstName : 'Lorenzo') %> <strong><%= (locals.userObj ? locals.userObj.lastName : 'Malone') %></strong></h2>
    <div class="line">
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4"
      <div class="stat-circle">
        <div class="hour-stat">
          10
        </div>
        <div class="stat-text">
          hours
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="stat-circle">
        <div class="hour-stat">
          30
        </div>
        <div class="stat-text">
          hours
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="stat-circle">
        <div class="hour-stat">
          20
        </div>
        <div class="stat-text">
          hours
        </div>
      </div>
    </div>
  </div>
</div>  

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="input-group spaced"> <span class="input-group-addon search-bar"><i class="fa fa-search"></i>  Search</span>
        <input id="filter-search" type="text" class="form-control search-text-box" placeholder="Type here...">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="checkbox spaced">
        <label class="check-text"><input type="checkbox" value="" id="show-past-events" disabled>Show past events</label>
      </div>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped sortable-theme-bootstrap" data-sortable>
      <thead>
        <tr>
          <th>Event</th>
          <th data-sortable-type="date">Date & Time</th>
          <th data-sortable="false">Location</th>
          <th>On/Off Campus</th>
          <th data-sortable="false">Actions</th>
        </tr>
      </thead>
      <tbody class="searchable">

      </tbody>
    </table>
  </div>
</div>

<% include helper/_basecode %>

<script type="text/javascript" src="/js/user.js"></script>

<% include helper/_footer %>