<% include helper/_header %>

<% include helper/_navbar %>

<div class="container-fluid">
  <% if (locals.alerts) { %>
    <% alerts.forEach(function(alert) { %>
      <% include helper/_alert %>
    <% }) %>
  <% } %>
</div>

<div class="container" id="users">
    <h1>Crimson Circle Members</h1>
    <div class="row">
        <div class="col-md-3">
            <a href="/events/signup" class="btn btn-primary spaced">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New User
            </a>
        </div>
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="filter">
              <button type="button" class="btn btn-default">First Name</button>
              <button type="button" class="btn btn-default">Last Name</button>
              <button type="button" class="btn btn-default">Year</button>
              <button type="button" class="btn btn-default">Hours</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
              <label><input type="checkbox" value="">Show inactive members</label>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Year</th>
              <th>Hours</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ryan</td>
              <td>Laird</td>
              <td>2016</td>
              <td>50</td>
              <td><a href="#" class="btn btn-primary btn-sm">Details</a></td>
            </tr>
            <tr>
              <td>Harrison</td>
              <td>Husting</td>
              <td>2017</td>
              <td>50</td>
              <td><a href="#" class="btn btn-primary btn-sm">Details</a></td>
            </tr>
            <tr>
              <td>Christian</td>
              <td>Papadopolos</td>
              <td>2018</td>
              <td>50</td>
              <td><a href="#" class="btn btn-primary btn-sm">Details</a></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

<% include helper/_basecode %>

<% include helper/_footer %>