@import "compass";

// universals
// ------------------------------------------------------------

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-left: 5px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  max-width: 100%;
}

img.cover {
  @include background-size(cover);
}

// responsive css
// ------------------------------------------------------------

// small screen only
@media screen and (max-width: $small) {
  #content {
    padding-bottom: $sm-footer; /* Height of the footer element */
  }

  table {
    width: 100%;
  }

  th {
    height: 30px;
  }
}

// medium screen only
@media screen and (max-width: $medium) and (min-width: $small) {
  #content {
    padding-bottom: $md-footer; /* Height of the footer element */
  }

  table {
    width: 75%;
  }

  th {
    height: 40px;
  }
}

// large screen only
@media screen and (min-width: $medium) {
  #content {
    padding-bottom: $lg-footer; /* Height of the footer element */
  }

  table {
    width: 50%;
  }

  th {
    height: 50px;
  }
}
