@import "../modules/_sizing";
@import "../modules/_colors";

h1 {
    font-family: 'BebasNeueRegular';
    font-weight: bold;
    font-style: normal;
    font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h2, h3, h4 {
  font-family: 'BebasNeueRegular';
  font-weight: normal;
  font-style: normal;
}

p, td, a, button, label, input, textarea { //aka ptdablilit
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
  font-size: $ptdablilit-size;
}

th {
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
  font-size: $th-size;
}