@import "compass/css3/background-size";

// universal variables
// ------------------------------------------------------------

// screen size breakpoints
$small: 767px;
$medium: 1024px;
$large: 1440px;

// font-sizes
$h1-size: 40px;
$h2-size: 30px;

// footer heights
$sm-footer: 80px;
$md-footer: 60px;
$lg-footer: 40px;

// functions
// ------------------------------------------------------------

@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}