  </body>
    <nav>
        <div>
            <div class="footer-text">
                <p>all rights reserved \\ copyright © 1929–2016 \\ designed by <a href="https://twitter.com/joshkuroda">Josh Kuroda</a> and coded by <a href="https://twitter.com/sirseim">Rodrigo Seim</a></p>
            </div>
            <div>
                <ul>
                    <li><a href="https://www.facebook.com/thecrimsoncircle1929"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/crimsoncircle"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://orgsync.com/125230/chapter"><i class="fa fa-book"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</html>