{% include "helpers/_header.html" %}

<div>
  <h2>Crimson <strong>Create Member</strong></h2>
</div>

<p id="status"></p>

<form method="post">

  <div>
    <h3>First Name</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="John" id="first-name">
    </div>
  </div>

  <div>
    <h3>Last Name</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="Doe" id="last-name">
    </div>
  </div>

  <div>
    <h3>Phone</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="(777) 777-7777" id="phone">
    </div>
  </div>

  <div>
    <h3>email</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="user@gmail.com" id="email">
    </div>
  </div>

  <div>
    <h3>year</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="2017" id="year">
    </div>
  </div>

  <div>
    <button type="button" id="create-member">Create</button>
  </div>

</form>

{% include "helpers/_basescripts.html" %}

<script type="text/javascript" src="/static/js/create_member.js"></script>

{% include "helpers/_footer.html" %}