{% include "helpers/_header.html" %}

<div>
  <h2>Crimson <strong>edit event</strong></h2>
</div>

<form method="post">
  <div>
    <h4>service name</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="Service" id="name">
    </div>
  </div>

  <div>
    <h4>hours</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="2" id="hours">
    </div>
  </div>

  <div>
    <h4>service name</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="Service" id="name">
    </div>
  </div>

  <div>
    <h4>on/off campus</h4>
    <div>
      <label>
        <input type="radio" name="is-on-campus" id="is-on-campus-true" value="true">
        On Campus
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="is-on-campus" id="is-on-campus-false" value="false">
        Off Campus
      </label>
    </div>
  </div>

  <div>
    <h4>uniform</h4>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-casual" value="Casual">
        Casual Uniform
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-polo" value="Polos">
        Polos Uniform
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-sweater" value="Sweaters">
        Sweaters Uniform
      </label>
    </div>
  </div>

  <div>
    <h4>meeting place</h4>
    <div class="form-or-something">
      <input type="text" class="form-control" placeholder="Leavey Circle" id="meeting-place">
    </div>
  </div>

  <div>
    <h4>start date/time</h4>
    <div class="form-group">
      <div class="input-group date form-control" id="datetimestart">
        <input type="text" class="form-control" id="start-date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div>
    <h4>end date/time</h4>
    <div class="form-group">
      <div class="input-group date form-control" id="datetimeend">
        <input type="text" class="form-control" id="end-date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div>
    <h4>driver extra hours</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="0.5" aria-describedby="addon2" id="driver-hours">
    </div>
  </div>

  <div>
    <h4>other extra hours</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="0.5" aria-describedby="addon3" id="extra-hours">
    </div>
  </div>

  <div>
    <h4>comments</h4>
    <div class="form-something">
      <textarea type="text" class="form-something" placeholder="écrire vos commentaires ici" id="comments" rows="3"></textarea>
    </div>
  </div>

  <div>
    <h4>add driver</h4>
    <div class="form-something">
        <input type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Christian Papadapolos" id="add-person">
        <ul class="dropdown-menu" id="list-members"></ul>
      
      <div>
        <button type="button" id="confirm-add-driver"><i class="fa fa-plus"></i> Driver</button>
      </div>
    </div>
  </div>

  <div>
    <h4>add member</h4>
    <div class="form-something">
        <input type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Christian Papadapolos" id="add-person">
        <ul class="dropdown-menu" id="list-members"></ul>
      
      <div>
        <button type="button" id="confirm-add-person"><i class="fa fa-plus"></i> Regular</button>
      </div>
    </div>
  </div>

  <div>
    <h4>add other</h4>
    <div class="form-something">
        <input type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Christian Papadapolos" id="add-person">
        <ul class="dropdown-menu" id="list-members"></ul>
      
      <div>
        <button type="button" id="confirm-add-special"><i class="fa fa-plus"></i> Extra</button>
      </div>
    </div>
  </div>

  <div>
    <button type="button" id="update-event" data-loading-text="<i class='fa fa-refresh fa-spin'></i>  Updating"<i class="fa fa-refresh"></i>  Update</button>
  </div>

  <div>
    <h4>drivers</h4>
    <div class="form-something">
      <table>
        <thead>

        </thead>
        <tbody id="driving-members">
          
        </tbody>
      </table>
    </div>

    <h4>members</h4>
    <div class="form-something">
      <table>
        <thead>
            
        </thead>
        <tbody id="attending-members">
          
        </tbody>
      </table>
    </div>

    <h4>other</h4>
    <div class="form-something">
      <table>
        <thead>

        </thead>
        <tbody id="special-members">
          
        </tbody>
      </table>
    </div>
  </div>

</form>

{% include "helpers/_basescripts.html" %}

{% include "helpers/_footer.html" %}