{% include "helpers/_header.html" %}

<div>
  <h2>Crimson <strong>Event</strong></h2>
</div>

<div id="event-id" data-id="{{ event }}"></div>

<div>
  <p id="status"></p>
</div>

<form method="post">
  <div>
    <h4>service name</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="Service" id="name">
    </div>
  </div>

  <div>
    <h4>hours</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="2" id="hours">
    </div>
  </div>

  <div>
    <h4>on/off campus</h4>
    <div>
      <label>
        <input type="radio" name="is-on-campus" id="is-on-campus-true" value="true">
        On Campus
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="is-on-campus" id="is-on-campus-false" value="false">
        Off Campus
      </label>
    </div>
  </div>

  <div>
    <h4>uniform</h4>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-casual" value="Casual">
        Casual Uniform
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-polo" value="Polos">
        Polos Uniform
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-sweater" value="Sweaters">
        Sweaters Uniform
      </label>
    </div>
  </div>

  <div>
    <h4>meeting place</h4>
    <div class="form-or-something">
      <input type="text" class="form-control" placeholder="Leavey Circle" id="meeting-place">
    </div>
  </div>

  <div>
    <h4>start date/time</h4>
    <div class="form-group">
      <div class="input-group date form-control" id="datetimestart">
        <input type="text" class="form-control" id="start-date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div>
    <h4>end date/time</h4>
    <div class="form-group">
      <div class="input-group date form-control" id="datetimeend">
        <input type="text" class="form-control" id="end-date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div>
    <h4>driver extra hours</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="0.5" aria-describedby="addon2" id="driver-hours">
    </div>
  </div>

  <div>
    <h4>other extra hours</h4>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="0.5" aria-describedby="addon3" id="extra-hours">
    </div>
  </div>

  <div>
    <h4>comments</h4>
    <div class="form-something">
      <textarea type="text" class="form-something" placeholder="écrire vos commentaires ici" id="comments"></textarea>
    </div>
  </div>

  <div>
    <p id="member-status"></p>
    <table class="sortable" id="members">
      <thead>
        <tr>
          <th>Add Member</th>
          <th>Add Driver</th>
          <th>Add Special</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div>
    <button type="button" id="edit-event"><i class="fa fa-refresh"></i>  Edit</button>
    <button type="button" id="update-event" data-loading-text="<i class='fa fa-refresh fa-spin'></i>  Creating"<i class="fa fa-refresh"></i>  Update</button>
  </div>

</form>

{% include "helpers/_basescripts.html" %}

<script type="text/javascript" src="/static/js/event.js"></script>

{% include "helpers/_footer.html" %}