{% include "helpers/_header.html" %}

<div>
  <h2>Crimson <strong>service</strong></h2>
</div>

<p id="status"></p>

<div>
  <a href="/events/create" class="create-button" id="create-event">
    <span class="fa fa-plus" aria-hidden="true"></span> Create Event
  </a>
</div>

<table class="sortable" id="events">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date & Time</th>
      <th>Meeting Place</th>
      <th>On/Off Campus</th>
      <th class="sorttable_nosort">Actions</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

{% include "helpers/_basescripts.html" %}

<script type="text/javascript" src="/static/js/event-list.js"></script>

{% include "helpers/_footer.html" %}
