{% include "helpers/_header.html" %}

<div>
    <div>
        <div>
            <h1>We are <strong>The Crimson Circle</strong></h1>
            <p>A service organization dedicated to serve <strong>for and with others</strong></p>
        </div>
    </div>
</div>

<div>
  <h2>Crimson <strong>login</strong></h2>
</div>

<div>
  <div>
    <div>
      <form method="post" action="/login">

        <div>
          <label for="username">USERNAME</label>
          <input type="text" class="form-control" placeholder="username" name="username" id="username">
        </div>

        <div>
          <label for="password">PASSWORD</label>
          <input type="password" class="form-control" placeholder="password" name="password" id="password">
        </div>
        
        <button type="submit">Login</button>

      </form>
    </div>
  </div>
</div>

{% include "helpers/_basescripts.html" %}

{% include "helpers/_footer.html" %}