{% include "helpers/_header.html" %}

<div>
  <h2>Crimson <strong>members</strong></h2>
</div>

<p id="status"></p>

<div>
  <a href="/members/create" class="create-button" id="create-member">
    <span class="fa fa-plus" aria-hidden="true"></span> Create Member
  </a>
</div>

<table class="sortable" id="members">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Year</th>
      <th>Hours</th>
      <th class="sorttable_nosort">Actions</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

{% include "helpers/_basescripts.html" %}

<script type="text/javascript" src="/static/js/member_list.js"></script>

{% include "helpers/_footer.html" %}