{% include "helpers/_header.html" %}

<div>
  <h2>Crimson <strong>create event</strong></h2>
</div>

<form method="post">
  <div>
    <p id="status"></p>
  </div>

  <div>
    <h3>service name</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="Service" id="name">
    </div>
  </div>

  <div>
    <h3>hours</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="2" id="hours">
    </div>
  </div>

  <div>
    <h3>on/off campus</h3>
    <div>
      <label>
        <input type="radio" name="is-on-campus" id="is-on-campus-true" value="true">
        On Campus
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="is-on-campus" id="is-on-campus-false" value="false">
        Off Campus
      </label>
    </div>
  </div>

  <div>
    <h3>uniform</h3>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-casual" value="Casual">
        Casual Uniform
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-polo" value="Polos">
        Polos Uniform
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="uniform" id="uniform-sweater" value="Sweaters">
        Sweaters Uniform
      </label>
    </div>
  </div>

  <div>
    <h3>meeting place</h3>
    <div class="form-or-something">
      <input type="text" class="form-control" placeholder="Leavey Circle" id="meeting-place">
    </div>
  </div>

  <div>
    <h3>start date/time</h3>
    <div class="form-group">
      <div class="input-group date form-control" id="datetimestart">
        <input type="text" class="form-control" id="start-date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div>
    <h3>end date/time</h3>
    <div class="form-group">
      <div class="input-group date form-control" id="datetimeend">
        <input type="text" class="form-control" id="end-date">
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div>
    <h3>driver extra hours</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="0.5" aria-describedby="addon2" id="driver-hours">
    </div>
  </div>

  <div>
    <h3>other extra hours</h3>
    <div class="form-or-something">
      <input type="text" class="form-something" placeholder="0.5" aria-describedby="addon3" id="extra-hours">
    </div>
  </div>

  <div>
    <h3>comments</h3>
    <div class="form-something">
      <textarea type="text" class="form-something" placeholder="écrire vos commentaires ici" id="comments"></textarea>
    </div>
  </div>

  <!-- <div>
    <h3>add driver</h3>
    <div class="form-something">
        <input type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Christian Papadapolos" id="add-person">
        <ul class="dropdown-menu" id="list-members"></ul>
      
      <div>
        <button type="button" id="confirm-add-driver"><i class="fa fa-plus"></i> Driver</button>
      </div>
    </div>
  </div>

  <div>
    <h3>add member</h3>
    <div class="form-something">
        <input type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Christian Papadapolos" id="add-person">
        <ul class="dropdown-menu" id="list-members"></ul>
      
      <div>
        <button type="button" id="confirm-add-person"><i class="fa fa-plus"></i> Regular</button>
      </div>
    </div>
  </div>

  <div>
    <h3>add other</h3>
    <div class="form-something">
        <input type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Search for Person to Add" placeholder="Christian Papadapolos" id="add-person">
        <ul class="dropdown-menu" id="list-members"></ul>
      
      <div>
        <button type="button" id="confirm-add-special"><i class="fa fa-plus"></i> Extra</button>
      </div>
    </div>
  </div> -->

  <div>
    <p id="member-status"></p>
    <table id="members">
      <thead>
        <tr>
          <th>Add Member</th>
          <th>Add Driver</th>
          <th>Add Special</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div>
    <button type="button" id="create-event" data-loading-text="<i class='fa fa-refresh fa-spin'></i>  Creating"<i class="fa fa-refresh"></i>  Create</button>
  </div>

</form>

{% include "helpers/_basescripts.html" %}

<script type="text/javascript" src="/static/js/create_event.js"></script>

{% include "helpers/_footer.html" %}