<tr class="<%= type %>-member" data-username="<%= member.username %>">
  <td class="fixed-minus-width"><%= (member.firstName + ' ' + member.lastName) %></td>
  <td>
    <button type="button" class="btn btn-default btn-xs rm-row-<%= type %>">
      <span class="fa fa-minus" aria-hidden="true"></span>
    </button>
  </td>
</tr>