<tr class="<%= type %>-member" data-username="<%= member.username %>">
  <td><%= (member.firstName + ' ' + member.lastName) %></td>
  <td>
    <button type="button" class="btn btn-default btn-xs rm-row-<%= type %>">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </td>
</tr>