<nav id="ahoy" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-contain" href="/">
        <img src="/img/large-crimson-logo.png" class="img-responsive brand-logo" onmouseover="this.src='/img/white-crimson-logo.png';" onmouseout="this.src='/img/large-crimson-logo.png';" />
      </a>
      <a class="navbar-brand main-title animated fadeInRight" href="/">Crimson Circle
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#hale" class="page-scroll">Home</a></li>
        <li><a href="/#aboot" class="page-scroll">About</a></li>
        <!-- <li><a href="#me-mateys" class="page-scroll">Members</a></li> -->
        <li><a href="/#service-section" class="page-scroll">Service</a></li>
        <li><a href="/#fotos" class="page-scroll">Media</a></li>
        <li><a href="/#wordz" class="page-scroll">Quotes</a></li>
        <li><a href="/#contact-us" class="page-scroll">Contact</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Crimsons<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if (locals.loggedIn) { %>
              <li class="dropdown-header">Member-only</li>
              <li><a href="#">Hours</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/calendar">Calendar</a></li>
              <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Sign Up</a></li>
            <% } %>
            <% if (locals.admin) { %>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Administrative</li>
              <li><a href="/users">Users</a></li>
              <li><a href="/signup">New User</a></li>
              <li><a href="/events/new-event">New Event</a></li>
            <% } %>
<!--          <li><a href="#">Members</a></li> -->
          </ul>
        </li>
        
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>